@import "../constsns.scss";

.container {
  display: flex;
  align-items: center;
  gap: 100px;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.item {
  flex: 1;

  @media screen and (max-width: 900px) {
    width: 300px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & button,
  & textarea,
  & input {
    border-radius: 5px;
    background-color: $bgSoft;
    border: none;
    padding: 20px;
    font-size: 18px;
  }

  & button {
    background-color: $blueText;

    &:hover {
      cursor: pointer;
    }
  }
}
